* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  height: 100vh;
}
div {
  height: 33.33%;
}
input {
  width: 100%;
  height: 100%;
  background: black;
  color: beige;
  outline: none;
  font-size: 5em;
  border: 0;
  text-align: center;
  font-family: "Lobster", cursive;
}
#centimeter {
  border-top: 3px solid orchid;
  border-bottom: 3px solid orchid;
}
::placeholder {
  color: rgba(33, 247, 14, 0.829);
}
